
{% set ecoData = ecoData ?? null %}
{% if element is defined %}
    {% set ecoData = ecodata_service.createFromElements(element, []) %}
{% endif %}

<div {% if element is defined %}{{ editorAttr(element, edit) }}{% endif %} class="vehicle-wltp {% if element is defined %}{{ elementClasses(element) }}{% endif %} mt-4 mb-4">
    {% if ecoData.title is not empty %}
        <h5 class="vehicle-wltp-heading mb-3">
            {{ ecoData.title }}
        </h5>
    {% endif %}

    <div class="row">

        {% if ecoData.co2ClassMax and ecoData.co2ClassMin is empty and ecoData.co2ClassEmptyBatteryMin is empty and ecoData.co2ClassEmptyBatteryMax is empty %}
            <div class="col-12 col-sm-auto" style="max-width: 400px;">
                <p class="mb-0">CO₂-Klasse</p>
                <p>
                    {% if ecoData.co2ClassEmptyBatteryMax != '' %}
                        {% set maxWidth = ecoData.co2ClassEmptyBatteryMax != '' ? 300 : 220 %}
                        <div style="max-width: {{ maxWidth }}px; font-size: 9px;">
                            <div class="row gx-0 no-gutters align-items-end">
                                <div class="col"></div>
                                <div class="col-auto" style="width: 23%;">
                                    <div class="pr-2 pe-2 text-end text-right">gewichtet, kombiniert</div>
                                </div>
                                <div class="col-auto" style="width: 23%;">
                                    <div class="pl-2 ps-2">bei entladener Batterie</div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% include '@CmsElements/Vehicle/co2_class.svg.twig' with {
                        co2Class: ecoData.co2ClassMax,
                        co2ClassEmptyBattery: ecoData.co2ClassEmptyBatteryMax,
                    } %}
                </p>
            </div>
        {% endif %}

        <div class="vehicle-wltp-body col-12 col-sm small" style="min-width: 280px;">
            {{ ecoData.getText('<br>')|raw }}
        </div>
        <div class="vehicle-wltp-disclaimer col-12">
            <p>
                <em>
                    {% if ecoData.unofficial %}
                        * {{ 'vehicle.wltp.label.legalDisclaimerUnofficial'|trans|raw }}
                    {% else %}
                        Die angegebenen Verbrauchs- und Emissionswerte wurden nach dem gesetzlich vorgeschriebenen
                        WLTP-Verfahren (Worldwide Harmonized Light Vehicles Test Procedure) ermittelt.
                    {% endif %}
                    <br><br>
                    {{ 'vehicle.wltp.label.legalDisclaimerDat'|trans|raw }}
                </em>
            </p>
        </div>
    </div>
</div>
