<div {{ editorAttr(element, edit, 'bg-warning') }} class="{{ elementClasses(element) }}">
    {% if element.data.image is defined and element.data.image %}

        {% set hasMetaData = element.data.image is iterable and element.data.image.file is defined %}
        {% if hasMetaData %}
            {% set filePath = element.data.image.file %}
            {% set fileWidth = element.data.image.width ?? 500 %}
            {% set fileHeight = element.data.image.height ?? 500 %}
        {% else %}
            {% set filePath = element.data.image %}
            {% set fileWidth = 500 %}
            {% set fileHeight = 500 %}
        {% endif %}

        {% set width = element.data.settings.width ?? null %}
        {% set height = element.data.settings.height ?? null %}
        {% if (width and height is null) %}
            {# calculate correct size for missing height based on original ratio #}
            {% set height = (width * (fileHeight / fileWidth))|number_format(0) %}
        {% elseif (height and width is null) %}
            {# calculate correct size for missing width based on original ratio #}
            {% set width = (height * (fileWidth / fileHeight))|number_format(0) %}
        {% elseif height is null and width is null %}
            {# use original file size #}
            {% set width = fileWidth %}
            {% set height = fileHeight %}
        {% endif %}

        {% set src05xWebP = web_image(filePath).zoomCrop(((width * 0.5)|round(0)), ((height * 0.5)|round(0))).webp() %}
        {% set src1xWebP = web_image(filePath).zoomCrop(width, height).webp() %}
        {% set src2xWebP = web_image(filePath).zoomCrop(width * 2, height * 2).webp() %}
        {% set src3xWebP = web_image(filePath).zoomCrop(width * 3, height * 3).webp() %}
        {% set src4xWebP = web_image(filePath).zoomCrop(width * 4, height * 4).webp() %}

        {% set src05x = web_image(filePath).zoomCrop(((width * 0.5)|round(0)), ((height * 0.5)|round(0))) %}
        {% set src1x = web_image(filePath).zoomCrop(width, height) %}
        {% set src2x = web_image(filePath).zoomCrop(width * 2, height * 2) %}
        {% set src3x = web_image(filePath).zoomCrop(width * 3, height * 3) %}
        {% set src4x = web_image(filePath).zoomCrop(width * 4, height * 4) %}

        <picture class="lozad" title="{{ element.data.title }}" data-iesrc="{{ src1x }}" data-alt="{{ element.data.title }}">
            <source type="image/webp"
                    class="img-fluid"
                    width="{{ width }}"
                    height="{{ height }}"
                    srcset="
                        {{ src05xWebP }} {{ (width * 0.5)|round(0) }}w,
                        {{ src1xWebP }} {{ width }}w,
                        {{ src2xWebP }} {{ width * 2 }}w,
                        {{ src3xWebP }} {{ width * 3 }}w,
                        {{ src4xWebP }} {{ width * 4 }}w
                    "
            >
            <source type="image/jpeg"
                    class="img-fluid"
                    width="{{ width }}"
                    height="{{ height }}"
                    srcset="
                        {{ src05x }} {{ (width * 0.5)|round(0) }}w,
                        {{ src1x }} {{ width }}w,
                        {{ src2x }} {{ width * 2 }}w,
                        {{ src3x }} {{ width * 3 }}w,
                        {{ src4x }} {{ width * 4 }}w
                    "
            >
            <noscript>
                <img
                        class="img-fluid"
                        width="{{ width }}"
                        height="{{ height }}"
                        title="{{ element.data.title }}"
                        alt="{{ element.data.title }}"
                        src="{{ src1x }}"
                        srcset="
                            {{ src05x }} {{ (width * 0.5)|round(0) }}w,
                            {{ src1x }} {{ width }}w,
                            {{ src2x }} {{ width * 2 }}w,
                            {{ src3x }} {{ width * 3 }}w,
                            {{ src4x }} {{ width * 4 }}w
                        "
                        loading="lazy"
                >
            </noscript>
        </picture>
    {% endif %}
</div>
