{% if image is defined and image %}
    {% set title = title ?? '' %}
    {% set alt = alt ?? title %}
    {% set prettyName = alt|slugify %}

    {% set hasMetaData = image is iterable and image.file is defined %}
    {% if hasMetaData %}
        {% set mimeType = image.mimeType ?? 'image/jpeg' %}
        {% set filePath = image.file %}
        {% set fileWidth = image.width ?? 500 %}
        {% set fileHeight = image.height ?? 500 %}
    {% else %}
        {% set mimeType = 'image/jpeg' %}
        {% set filePath = image %}
        {% set fileWidth = 500 %}
        {% set fileHeight = 500 %}
    {% endif %}

    {% if showOriginal or mimeType == 'image/svg+xml' or filePath|slice(-4) == '.svg' %}
        <img class="img-fluid d-block"
             title="{{ title }}"
             alt="{{ alt }}"
             src="{{ filePath }}"
             loading="lazy"
        >
    {% else %}
        {% if (width and height is null) %}
            {# calculate correct size for missing height based on original ratio #}
            {% set height = (width * (fileHeight / fileWidth))|number_format(0) %}
        {% elseif (height and width is null) %}
            {# calculate correct size for missing width based on original ratio #}
            {% set width = (height * (fileWidth / fileHeight))|number_format(0) %}
        {% elseif height is null and width is null %}
            {# use original file size #}
            {% set width = fileWidth %}
            {% set height = fileHeight %}
        {% endif %}

        {% set has2X = (has2X is defined and has2X) or (has2X is not defined and width <= 1920) %}
        {% set has3X = (has3X is defined and has3X) or (has3X is not defined and width <= 720) %}
        {% set has4X = (has4X is defined and has4X) or (has4X is not defined and width <= 480) %}

        {% set src05xWebP = web_image(filePath).zoomCrop(((width * 0.5)|round(0)), ((height * 0.5)|round(0))).setPrettyName(prettyName) %}
        {% set src1xWebP = web_image(filePath).zoomCrop(width, height).setPrettyName(prettyName) %}

        {% if has2X %}
            {% set src2xWebP = web_image(filePath).zoomCrop(width * 2, height * 2).setPrettyName(prettyName) %}
        {% endif %}
        {% if has3X %}
            {% set src3xWebP = web_image(filePath).zoomCrop(width * 3, height * 3).setPrettyName(prettyName) %}
        {% endif %}
        {% if has4X %}
            {% set src4xWebP = web_image(filePath).zoomCrop(width * 4, height * 4).setPrettyName(prettyName) %}
        {% endif %}

        {% set src05x = web_image(filePath).zoomCrop(((width * 0.5)|round(0)), ((height * 0.5)|round(0))).setPrettyName(prettyName) %}
        {% set src1x = web_image(filePath).zoomCrop(width, height).setPrettyName(prettyName) %}

        {% if has2X %}
            {% set src2x = web_image(filePath).zoomCrop(width * 2, height * 2).setPrettyName(prettyName) %}
        {% endif %}
        {% if has3X %}
            {% set src3x = web_image(filePath).zoomCrop(width * 3, height * 3).setPrettyName(prettyName) %}
        {% endif %}
        {% if has4X %}
            {% set src4x = web_image(filePath).zoomCrop(width * 4, height * 4).setPrettyName(prettyName) %}
        {% endif %}

        {% if grayscale %}
            {% set src05xWebP = src05xWebP.grayscale() %}
            {% set src05x = src05x.grayscale() %}
            {% set src1xWebP = src1xWebP.grayscale() %}
            {% set src1x = src1x.grayscale() %}

            {% if has2X %}
                {% set src2xWebP = src2xWebP.grayscale() %}
                {% set src2x = src2x.grayscale() %}
            {% endif %}
            {% if has3X %}
                {% set src3xWebP = src3xWebP.grayscale() %}
                {% set src3x = src3x.grayscale() %}
            {% endif %}
            {% if has4X %}
                {% set src4xWebP = src4xWebP.grayscale() %}
                {% set src4x = src4x.grayscale() %}
            {% endif %}
        {% endif %}

        {% if fixOrientation %}
            {% set src05xWebP = src05xWebP.fixOrientation() %}
            {% set src1xWebP = src1xWebP.fixOrientation() %}
            {% set src05x = src05x.fixOrientation() %}
            {% set src1x = src1x.fixOrientation() %}

            {% if has2X %}
                {% set src2xWebP = src2xWebP.fixOrientation() %}
                {% set src2x = src2x.fixOrientation() %}
            {% endif %}
            {% if has3X %}
                {% set src3xWebP = src3xWebP.fixOrientation() %}
                {% set src3x = src3x.fixOrientation() %}
            {% endif %}
            {% if has4X %}
                {% set src4xWebP = src4xWebP.fixOrientation() %}
                {% set src4x = src4x.fixOrientation() %}
            {% endif %}
        {% endif %}

        {% set heightPercentage = ((height / width) * 100)|number_format(2) %}
        <div class="position-relative w-100" style="padding-bottom: {{ heightPercentage }}%;">
            <picture class="lozad position-absolute w-100" title="{{ title }}" data-iesrc="{{ src1x }}" data-alt="{{ alt }}">
                <source type="image/webp"
                        width="{{ width }}"
                        height="{{ height }}"
                        srcset="
                            {{ src05xWebP.webp() }} {{ (width * 0.5)|round(0) }}w,
                            {{ src1xWebP.webp() }} {{ width }}w
                            {% if has2X %}
                                ,{{ src2xWebP.webp() }} {{ width * 2 }}w
                            {% endif %}
                            {% if has3X %}
                                ,{{ src3xWebP.webp() }} {{ width * 3 }}w
                            {% endif %}
                            {% if has4X %}
                                ,{{ src4xWebP.webp() }} {{ width * 4 }}w
                            {% endif %}
                        "
                >
                <source type="{{ mimeType }}"
                        width="{{ width }}"
                        height="{{ height }}"
                        srcset="
                            {{ src05x }} {{ (width * 0.5)|round(0) }}w,
                            {{ src1x }} {{ width }}w
                            {% if has2X %}
                                ,{{ src2x }} {{ width * 2 }}w
                            {% endif %}
                            {% if has3X %}
                                ,{{ src3x }} {{ width * 3 }}w
                            {% endif %}
                            {% if has4X %}
                                ,{{ src4x }} {{ width * 4 }}w
                            {% endif %}
                        "
                >
                <noscript>
                    <img
                            class="img-fluid d-block"
                            width="{{ width }}"
                            height="{{ height }}"
                            title="{{ title }}"
                            alt="{{ alt }}"
                            src="{{ src1x }}"
                            srcset="
                                {{ src05x }} {{ (width * 0.5)|round(0) }}w,
                                {{ src1x }} {{ width }}w
                                {% if has2X %}
                                    ,{{ src2x }} {{ width * 2 }}w
                                {% endif %}
                                {% if has3X %}
                                    ,{{ src3x }} {{ width * 3 }}w
                                {% endif %}
                                {% if has4X %}
                                    ,{{ src4x }} {{ width * 4 }}w
                                {% endif %}
                            "
                            loading="lazy"
                    >
                </noscript>
            </picture>
        </div>
    {% endif %}
{% endif %}
