{% set disclaimer = element.data.disclaimer ?? null %}

{% set legalDisclaimerNum = element.data.legalDisclaimerNum ?? null %}
{% set fixedInterestRateDisclaimerNum = element.data.fixedInterestRateDisclaimerNum ?? null %}
{% set specialPaymentDisclaimerNum = element.data.specialPaymentDisclaimerNum ?? null %}

{# Deprecated #}
{% set legalDisclaimer = element.data.legalDisclaimer ?? null %}
{% set fixedInterestRateDisclaimer = element.data.fixedInterestRateDisclaimer ?? null %}
{% set specialPaymentDisclaimer = element.data.specialPaymentDisclaimer ?? null %}

<table class="table vehicle-financing-table vehicle-financing-leasing-private">
    {% if element.data.msrp is not empty and element.data.price is not empty %}
        {% set savings = element.data.msrp - element.data.price %}
        <tr class="vehicle-financing-leasing-private-msrp">
            <td class="vehicle-financing-table-label">
                {{ 'vehicle.financing.label.msrpShort'|trans }}
            </td>
            <td class="vehicle-financing-table-value">
                {{ element.data.msrp|number_format(2, ',', '.')|replace({',00': ',-'}) }} {{ 'vehicle.financing.label.euro'|trans }}
            </td>
        </tr>
        <tr class="vehicle-financing-leasing-private-savings">
            <td class="vehicle-financing-table-label">
                {{ 'vehicle.financing.label.savings'|trans }}
            </td>
            <td class="vehicle-financing-table-value">
                {{ savings|number_format(2, ',', '.')|replace({',00': ',-'}) }} {{ 'vehicle.financing.label.euro'|trans }}
            </td>
        </tr>
    {% endif %}
    {% if element.data.price is not empty %}
        <tr class="vehicle-financing-leasing-private-price">
            <td class="vehicle-financing-table-label">
                {{ 'vehicle.financing.label.cashPriceShort'|trans }}
            </td>
            <td class="vehicle-financing-table-value">
                {{ element.data.price|number_format(2, ',', '.')|replace({',00': ',-'}) }} {{ 'vehicle.financing.label.euro'|trans }}
            </td>
        </tr>
    {% endif %}
    <tr class="vehicle-financing-leasing-private-monthlyInstalment">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.numberOfMonthlyLeasingInstalments'|trans({
                '%numberOfMonthlyInstalments%': element.data.months
            }) }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.monthlyInstalment|number_format(2, ',', '.')|replace({',00': ',-'}) }} {{ 'vehicle.financing.label.euro'|trans }} {% if legalDisclaimer or legalDisclaimerNum %}<sup>{{ legalDisclaimerNum ?? '4' }}</sup>{% endif %}
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-private-specialPayment">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.specialPayment'|trans }} {% if specialPaymentDisclaimerNum %}<sup>{{ specialPaymentDisclaimerNum }}</sup>{% endif %}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.specialPayment|number_format(2, ',', '.')|replace({',00': ',-'}) }} {{ 'vehicle.financing.label.euro'|trans }}
        </td>
    </tr>
    {% if element.data.netAmount is defined and element.data.netAmount is not empty %}
        <tr class="vehicle-financing-leasing-private-netAmount">
            <td class="vehicle-financing-table-label">
                {{ 'vehicle.financing.label.netAmount'|trans }}
            </td>
            <td class="vehicle-financing-table-value">
                {{ element.data.netAmount|number_format(2, ',', '.')|replace({',00': ',-'}) }} {{ 'vehicle.financing.label.euro'|trans }}
            </td>
        </tr>
    {% endif %}
    <tr class="vehicle-financing-leasing-private-fixedInterestRate">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.fixedInterestRate'|trans }} {% if fixedInterestRateDisclaimerNum %}<sup>{{ fixedInterestRateDisclaimerNum }}</sup>{% endif %}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.fixedInterestRate|number_format(2, ',', '.') }} %
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-private-effectiveInterest">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.effectiveInterest'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.effectiveInterest|number_format(2, ',', '.') }} %
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-private-months">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.months'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.months }} {{ 'vehicle.financing.label.monthsUnit'|trans }}
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-private-kilometersLeasing">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.kilometersLeasing'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.kilometersLeasing|number_format(0, ',', '.') }} km
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-private-totalAmount">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.totalAmount'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.totalAmount|number_format(2, ',', '.')|replace({',00': ',-'}) }} {{ 'vehicle.financing.label.euro'|trans }}
        </td>
    </tr>
</table>

{% if disclaimer %}
    <div class="vehicle-financing-legal-disclaimer">
        {{ disclaimer|raw }}
    </div>
{% endif %}

{# Deprecated #}
{% if legalDisclaimer %}
    <div class="vehicle-financing-legal-disclaimer">
        <div><sup>{{ legalDisclaimerNum ?? '4' }}</sup> {{ legalDisclaimer|raw|slice(5, -6)|raw }}</div>
    </div>
{% endif %}
{% if specialPaymentDisclaimer and specialPaymentDisclaimerNum %}
    <div class="vehicle-financing-legal-disclaimer">
        <div><sup>{{ specialPaymentDisclaimerNum }}</sup> {{ specialPaymentDisclaimer|raw|slice(5, -6)|raw }}</div>
    </div>
{% endif %}
{% if fixedInterestRateDisclaimer and fixedInterestRateDisclaimerNum %}
    <div class="vehicle-financing-legal-disclaimer">
        <div><sup>{{ fixedInterestRateDisclaimerNum }}</sup> {{ fixedInterestRateDisclaimer|raw|slice(5, -6)|raw }}</div>
    </div>
{% endif %}
