{% set legalDisclaimer = element.data.legalDisclaimer is defined and element.data.legalDisclaimer is not empty ? element.data.legalDisclaimer : false %}
<table class="table vehicle-financing-table vehicle-financing-leasing-business">
    <tr class="vehicle-financing-leasing-business-monthlyInstalment">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.monthlyInstalment'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.monthlyInstalment|number_format(2, ',', '.')|replace({',00': ',-'}) }} € {% if legalDisclaimer %}<sup>{{ element.data.legalDisclaimerNum is defined ? element.data.legalDisclaimerNum : '5' }}</sup>{% endif %}
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-business-specialPayment">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.specialPayment'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.specialPayment|number_format(2, ',', '.')|replace({',00': ',-'}) }} €
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-business-months">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.months'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.months }}
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-business-kilometersLeasing">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.kilometersLeasing'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.kilometersLeasing|number_format(2, ',', '.') }}
        </td>
    </tr>
</table>

{% if legalDisclaimer %}
    <div class="vehicle-financing-legal-disclaimer">
        <div><sup>{{ element.data.legalDisclaimerNum is defined ? element.data.legalDisclaimerNum : '5' }}</sup> {{ legalDisclaimer|raw|slice(5, -6)|raw }}</div>
    </div>
{% endif %}
