{% set disclaimer = element.data.disclaimer ?? null %}

{% set legalDisclaimerNum = element.data.legalDisclaimerNum ?? null %}
{% set specialPaymentDisclaimerNum = element.data.specialPaymentDisclaimerNum ?? null %}

{# Deprecated #}
{% set legalDisclaimer = element.data.legalDisclaimer ?? null %}
{% set specialPaymentDisclaimer = element.data.specialPaymentDisclaimer ?? null %}

<table class="table vehicle-financing-table vehicle-financing-leasing-business">
    <tr class="vehicle-financing-leasing-business-monthlyInstalment">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.numberOfMonthlyLeasingInstalments'|trans({
                '%numberOfMonthlyInstalments%': element.data.months
            }) }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.monthlyInstalment|number_format(2, ',', '.')|replace({',00': ',-'}) }} {{ 'vehicle.financing.label.euro'|trans }} {% if legalDisclaimer or legalDisclaimerNum %}<sup>{{ legalDisclaimerNum ?? '5' }}</sup>{% endif %}
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-business-specialPayment">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.specialPayment'|trans }} {% if specialPaymentDisclaimerNum %}<sup>{{ specialPaymentDisclaimerNum }}</sup>{% endif %}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.specialPayment|number_format(2, ',', '.')|replace({',00': ',-'}) }} {{ 'vehicle.financing.label.euro'|trans }}
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-business-months">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.months'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.months }}
        </td>
    </tr>
    <tr class="vehicle-financing-leasing-business-kilometersLeasing">
        <td class="vehicle-financing-table-label">
            {{ 'vehicle.financing.label.kilometersLeasing'|trans }}
        </td>
        <td class="vehicle-financing-table-value">
            {{ element.data.kilometersLeasing|number_format(0, ',', '.') }} km
        </td>
    </tr>
</table>

{% if disclaimer %}
    <div class="vehicle-financing-legal-disclaimer">
        {{ disclaimer|raw }}
    </div>
{% endif %}

{# Deprecated #}
{% if legalDisclaimer %}
    <div class="vehicle-financing-legal-disclaimer">
        <div><sup>{{ legalDisclaimerNum ?? '5' }}</sup> {{ legalDisclaimer|raw|slice(5, -6)|raw }}</div>
    </div>
{% endif %}
{% if specialPaymentDisclaimer and specialPaymentDisclaimerNum %}
    <div class="vehicle-financing-legal-disclaimer">
        <div><sup>{{ specialPaymentDisclaimerNum }}</sup> {{ specialPaymentDisclaimer|raw|slice(5, -6)|raw }}</div>
    </div>
{% endif %}
